{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABRO | Партнёры</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'images/pic.png' %}" type="images/png" sizes="30x30">
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="inner-width">
            <a href="/" class="logo"></a>
            <button class="menu-toggler">

            </button>
            <div class="navbar-menu">
                <a href="/index">Главная</a>
                <a href="/about">Товары</a>
                <a href="/galery">Галерея</a>
                <a href="/index">О нас</a>
                <!--
        <a href="#works">LN</a>
        <a href="#contact">D/L</a>
-->
            </div>
        </div>
    </nav>

    <!-- Home -->
    <section id="home">
        <div class="inner-width">
            <div class="content">
                <h1>ABRO <br></h1>
                <div class="sm">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin-in"></a>
                    <a href="#" class="fab fa-youtube"></a>
                </div>

            </div>
        </div>
    </section>

    <!-- Партнёры -->
    <section id="education">
        <div class="inner-width">
            <h1 class="section-title">Партнёры</h1>
            <div class="time-line">
                <div class="block">
                    <h4>...</h4>
                    <h3>ООО BUXARA VARNET<br> OOO SHOPPING KARVON CENTER HOME MARKET<br> OOO GRAND LYUKS HOUSE<br>OOO
                        IMRAN DEVELOPMENT KOMFORT HOUSE</h3>
                </div>

                <div class="block">
                    <h4>...</h4>
                    <h3>OOO IMPALA COLLECTION BUSINESS<br> OOO METRIC VENTURES<br> OOO BUXORO TEMIR BETON KOMBINAT</h3>
                </div>

                <div class="block">
                    <h4>...</h4>
                    <h3>OOO NJ GROUP<br> OOO FAYZ BARAKA UY-JOY QURILISH<br> OOO FATXOBOD CITY</h3>
                </div>

                <div class="block">
                    <h4>...</h4>
                    <h3>OOO BUXORO SITY<br> OOO MERGANTEKS OOO BIG LARGE<br> OOO STROY SAMO</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- UzStandart -->

    <section id="works" class="dark">
        <div class="inner-width">
            <h1 class="section-title">Сертификаты <br> UzStandart</h1>
            <div class="works">
                <a href="{% static 'img/UzStan/photo_5379962755110519580_y.jpg' %}" class="work">
                    <img src="{% static 'img/UzStan/photo_5379962755110519580_y.jpg' %}" alt="img">
                    <div class="info">
                        <h3>Work Title</h3>
                        <div class="cat">Music, Headset</div>
                    </div>
                </a>

                <a href="{% static 'img/UzStan/photo_5452147024913876775_y.jpg' %}" class="work">
                    <img src="{% static 'img/UzStan/photo_5452147024913876775_y.jpg' %}" alt="img">
                    <div class="info">
                        <h3>Work Title</h3>
                        <div class="cat">Music, Headset</div>
                    </div>
                </a>

                <a href="{% static 'img/UzStan/photo_5452147024913876777_y.jpg' %}" class="work">
                    <img src="{% static 'img/UzStan/photo_5452147024913876777_y.jpg' %}" alt="img">
                    <div class="info">
                        <h3>Work Title</h3>
                        <div class="cat">Music, Headset</div>
                    </div>
                </a>

                <a href="{% static 'img/UzStan/photo_5452147024913876778_y.jpg' %}" class="work">
                    <img src="{% static 'img/UzStan/photo_5452147024913876778_y.jpg' %}" alt="img">
                    <div class="info">
                        <h3>Work Title</h3>
                        <div class="cat">Music, Headset</div>
                    </div>
                </a>

                <a href="{% static 'img/UzStan/uzstand1.png' %}" class="work">
                    <img src="{% static 'img/UzStan/uzstand1.png' %}" alt="img">
                    <div class="info">
                        <h3>Work Title</h3>
                        <div class="cat">Music, Headset</div>
                    </div>
                </a>

                <a href="{% static 'img/UzStan/uzstand2.png' %}" class="work">
                    <img src="{% static 'img/UzStan/uzstand2.png' %}" alt="img">
                    <div class="info">
                        <h3>Work Title</h3>
                        <div class="cat">Music, Headset</div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <br>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Аbro <br> Capitals&Construction </h4>
                    <ul>
                        <p style="color: #BBBBBB;"> ABRO Capital&Construction - в рынке по производству строительных
                            матереалов с 2018 года.</p>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Помощь</h4>
                    <ul>
                        <li><a href="/smtp">Обратная связь</a></li>
                        <li><a href="/product">Оформление заказа</a></li>
                        <li><a href="#">Политика конфидерацианальности</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Партнёры</h4>
                    <ul>
                        <p style="color: #BBBBBB;">ООО BUXARA VARNET</p>
                        <p style="color: #BBBBBB;">OOO METRIC VENTURES</p>
                        <p style="color: #BBBBBB;">ОOO MERGANTEKS</p>
                        <li><a href="/parners">О партнёрах</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Go Top BTN -->
    <button class="goTop fas fa-arrow-up"></button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>