{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфидерацианальности</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="icon" href="images/pic.png" type="images/png" sizes="30x30">
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="inner-width">
            <a href="/" class="logo"></a>
            <button class="menu-toggler">

            </button>
            <div class="navbar-menu">
                <a href="/index">Главная</a>
                <a href="/catolog">Каталог</a>
                <a href="/galery">Галерея</a>
                <a href="/index">О нас</a>
                <!--
        <a href="#works">LN</a>
        <a href="#contact">D/L</a>
-->
            </div>
        </div>
    </nav>

    <!-- Home -->
    <section id="home">
        <div class="inner-width">
            <div class="content">
                <h1>ABRO <br></h1>
                <div class="sm">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin-in"></a>
                    <a href="#" class="fab fa-youtube"></a>
                </div>

            </div>
        </div>
    </section>


    <!--    Политика конфидерацианальности    -->

    <section id="education">
        <div class="inner-width">
            <h1 class="section-title">Политика конфидерацианальности</h1>
            <div class="time-line">
                <h4>
                    Сайт Abro принадлежит ООО ABRO CAPITALS&CONSTRUCTION, которая является контроллером для ваших личных
                    данных.<br>
                    <br>
                    Мы используем эту Политику конфиденциальности, которая определяет, как мы обрабатываем информацию,
                    собранную Abro, а также причины, по которым мы должны собирать определённые личные данные о вас.
                    Поэтому вы должны прочитать данную Политику конфиденциальности перед использованием сайта Abro.
                    <br>
                    <br>
                    Мы заботимся о ваших личных данных и гарантируем их конфиденциальность и безопасность.
                </h4>
                <br><br>
            </div>
            <h1 class="section-title">Личная информация, которую мы собираем</h1>
            <div class="time-line">
                <h4>
                    при посещении Abro, мы автоматически собираем определённую информацию о вашем устройстве, включая
                    информацию о вашем веб-браузере, IP-адресе, часовом поясе и т. д. и некоторые из установленных
                    файлов cookies на вашем устройстве. Кроме того, когда вы просматриваете Сайт, мы собираем информацию
                    об отдельных страницах или продуктах, которые вы просматриваете, о том, какие сайты или условия
                    поиска направили вас на Сайт и как вы взаимодействуете с Сайтом. Мы называем эту автоматически
                    собранную информацию «Информация об устройстве». Кроме того, мы можем собирать личные данные,
                    которые вы нам предоставляете (включая имя, фамилию, адрес, платежную информацию и т. д.) во время
                    регистрации, чтобы иметь возможность выполнить соглашение.
                </h4>
            </div>

            <br><br>

            <h1 class="section-title">Почему мы обрабатываем ваши данные?</h1>
            <div class="time-line">
                <h4>
                    Нашим главным приоритетом является безопасность клиентов, вот почему мы должны обрабатывать тот
                    минимальный объем пользовательских данных: ровно столько, сколько необходимо для обслуживания сайта.
                    Информация, собираемая автоматически, используется только для выявления потенциальных нарушений и
                    получения статистической информации об использовании Сайта. Эта статистическая информация не
                    собирается таким образом, чтобы можно было идентифицировать конкретного пользователя системы.

                    <br><br>

                    Вы можете посещать Сайт, не сообщая нам, кто вы, и не раскрывая никакой информации, с помощью
                    которой кто-либо мог бы идентифицировать вас как конкретное лицо. Однако, если вы хотите
                    использовать некоторые функции сайта, хотите получать нашу рассылку новостей или другие сведения,
                    заполнив форму, — вы можете предоставить нам личные данные, такие как ваш адрес электронной почты,
                    имя, фамилия, место жительства, организации, телефона. Вы можете не предоставлять нам свои личные
                    данные, но в этом случае вы не сможете воспользоваться определёнными функциями Сайта. Например, вы
                    не сможете получать нашу рассылку новостей или связываться с нами напрямую через Сайт. Пользователи,
                    которые не уверены, какая информация является обязательной, могут связаться с нами через
                    svoloch1703@vk.com.
                </h4>
            </div>

            <br><br>

            <h1 class="section-title">Информационная безопасность</h1>
            <div class="time-line">
                <h4>
                    Мы защищаем информацию, которую вы предоставляете на компьютерных серверах, в контролируемой
                    безопасной среде, защищенной от несанкционированного доступа, использования или раскрытия. Мы
                    принимаем разумные административные, технические и физические меры безопасности для защиты от
                    несанкционированного доступа, использования, изменения и раскрытия личных данных, находящихся под
                    его контролем и хранением. Однако передача данных через Интернет или беспроводную сеть не может быть
                    гарантирована.
                </h4>
            </div>

            <br><br>

            <h1 class="section-title">Юридическое раскрытие</h1>
            <div class="time-line">
                <h4>
                    Мы будем раскрывать любую информацию, которую мы собираем, используем или получаем, --|...|-- , и
                    тогда мы добросовестно полагаем, что раскрытие информации необходимо для защиты наших прав, вашей
                    безопасности или безопасности других лиц, расследования мошенничества или ответа на запрос
                    правительства.
                </h4>
            </div>

            <br><br>

            <h1 class="section-title">Контактная информация</h1>
            <div class="time-line">
                <h4>
                    Если вы хотите связаться с нами, чтобы узнать больше об этой политике, или хотите связаться с нами
                    по любому вопросу, касающемуся индивидуальных прав и вашей личной информации, вы можете отправить
                    письмо на адрес svoloch1703@vk.com.
                </h4>
            </div>

        </div>
    </section>


    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Аbro <br> Capitals&Construction </h4>
                    <ul>
                        <p style="color: #BBBBBB;"> ABRO Capital&Construction - в рынке по производству строительных
                            матереалов с 2018 года.</p>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Помощь</h4>
                    <ul>
                        <li><a href="/smtp">Обратная связь</a></li>
                        <li><a href="/product">Оформление заказа</a></li>
                        <li><a href="/politic">Политика конфидерацианальности</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Партнёры</h4>
                    <ul>
                        <p style="color: #BBBBBB;">ООО BUXARA VARNET</p>
                        <p style="color: #BBBBBB;">OOO METRIC VENTURES</p>
                        <p style="color: #BBBBBB;">ОOO MERGANTEKS</p>
                        <li><a href="/parners">О партнёрах</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Go Top BTN -->
    <button class="goTop fas fa-arrow-up"></button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'js/scripts.js'%}"></script>

</body>

</html>