{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABRO | Католог</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/pic.png' %}" type="images/png" sizes="30x30">
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="inner-width">
            <a href="index.html" class="logo"></a>
            <button class="menu-toggler">

            </button>
            <div class="navbar-menu">
                <a href="/index">Главная</a>
                <a href="/about">Каталог</a>
                <a href="/galery">Галерея</a>
                <a href="/index">О нас</a>
            </div>
        </div>
    </nav>



    <!-- Gallery -->
    <section id="works" class="dark">
        <div class="inner-width">
            <h1 class="section-title">Оформление заказа</h1>
            <div class="works">
                <div class="im">
                    <img src="{% static 'img/works/DSC_0106.JPG' %}" alt="img" align="left">
                    <div class="nam" align="right">
                        <b>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, et rem! Optio aut
                            voluptatum impedit cupiditate eos nihil temporibus commodi vitae maiores laboriosam tempora
                            eveniet, odit error ex hic distinctio itaque provident a quidem facere est tenetur mollitia
                            sunt nam. Officiis suscipit qui tempora, sunt accusamus perspiciatis tenetur illo hic minus
                            provident saepe voluptate delectus cum veniam aliquid, adipisci nobis, aut laudantium
                            maiores vitae dolorum a asperiores! Odit beatae suscipit dolore ex, repudiandae numquam,
                            aliquid asperiores ab facilis soluta a fuga quibusdam. Dignissimos non tempora, nesciunt
                            similique debitis illum iste eligendi reprehenderit omnis ut sunt laboriosam expedita
                            provident repudiandae alias?</b>
                    </div>
                    <button type="button" name="bab" class="bab"><a href="#" class="open-popup">Открыть
                            попап</a></button>
                </div>
            </div>
        </div>
    </section>

    <!-- Попап/Модалка -->

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Аbro <br> Capitals&Construction </h4>
                    <ul>
                        <p style="color: #BBBBBB;"> ABRO Capital&Construction - в рынке по производству строительных
                            матереалов с 2018 года.</p>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Помощь</h4>
                    <ul>
                        <li><a href="/smtp">Обратная связь</a></li>
                        <li><a href="/product">Оформление заказа</a></li>
                        <li><a href="#">Политика конфидерацианальности</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Партнёры</h4>
                    <ul>
                        <p style="color: #BBBBBB;">ООО BUXARA VARNET</p>
                        <p style="color: #BBBBBB;">OOO METRIC VENTURES</p>
                        <p style="color: #BBBBBB;">ОOO MERGANTEKS</p>
                        <li><a href="/parners">О партнёрах</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Go Top BTN -->
    <button class="goTop fas fa-arrow-up"></button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>